*
{
	box-sizing: border-box;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}
.row
{
	/*width: 100%;*/
	display: inline-flex;
	/*clear: both;*/
}
.columnLateral
{
  float: left;
  width: 15%;
  min-width: 300px;
}
.columnCetral
{
  float: left;
  width: 70%;
  min-width: 300px;
}


/*
.jetson-stats
{
	border: 1px solid black;
}
.jetson-stats h3
{
	text-align: center;
}
.widget-cpu
{
	width: 100%;
	padding: 0 5px 5px 5px;
}
.widget-cpu-row
{
	width: 100%;
}
.widget-cpu-percentage
{
	width: 50%;
	float: left;
}
.widget-cpu-frequency
{
	text-align: right;
}
.cpu-progress
{
	width: 100%;
}
*/